<section class="repos">
  {{#if repos}}
  <h2 class="repos__header">Choose a repo to get started</h2>
  <form method="get" action="/repo">
    <label for="select_repo">Repos</label>
    <select name="repo" class="repos__select" id="select_repo">
      {{#each repos}}
      <option value="{{this.owner.login}} {{this.name}} {{this.url}}" class="repos__select-option">{{this.name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="See issues" class="repos__submit"/>
  </form>
  {{else}}
  <p>Looks like you're not working on any repos yet! Go to <a href="www.github.com" target="blank" title="GitHub">GitHub</a> and create one!</p>
  {{/if}}
</section>
