{{> header}}
<section class="issues__container">
  {{#if issues}}
  <div class="issues__header">
    Pick an issue to start working on
  </div>
  <div class="issues__list">
    {{#each issues}}
      <ul class="issues__list-issue">
        <!--- details tbd! --->
        <li class="issues__list-item">
          <a class="issues__list-item-link" href="{{link}}">#{{this.id}} {{this.title}}</a>{{this.assignees.length}}<a class="issues__list-item-button" href="{{this.html_url}}">Go to issue</a>
        </li>
      </ul>
    {{/each}}
    <div class="issues__list">
  {{else}}
    <div class="issues__header">
      Oops...
    </div>
    <p>No issues have been made for this repo yet. Go to <a class="issues__githubLink" href="{{this.repoUrl}}">GitHub</a> and make some!</p>
  {{/if}}
</section>
