{{> header}}
<section class="issues__container">
  {{#if issues}}
  <div class="issues__header">
    <h2>Pick an issue to start working on</h2>
  </div>
  <div class="issues__list">
    {{#each issues}}
      <ul class="issues__list-issue">
        <!--- details tbd! --->
        <li class="issues__list-item">
          <a class="issues__list-item-link" href="/issue?url={{this.url}}">#{{this.number}} {{this.title}}</a>
          <p>{{this.assignees.length}} assignees <a class="issues__list-item-button" href="/issue?url={{this.url}}">Go to issue</a></p>
        </li>
      </ul>
    {{/each}}
    <div class="issues__list">
  {{else}}
    <div class="issues__header">
      Oops...
    </div>
    <p>No issues have been made for this repo yet. Go to <a class="issues__githubLink" href="{{this.repoUrl}}">GitHub</a> and make some!</p>
  {{/if}}
</section>
