body {
  background-color: antique-white;
  font-family: 'Didact Gothic', sans-serif;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

a {
  color: limeGreen;
  text-decoration: none;
  cursor: pointer;
}
/*<-- nav bar >*/

.nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1rem;
  width: 88%;
  margin: auto;
}

.nav__title {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 4rem;
}

.nav__controls {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

nav h1 {
  color: #000;
}

/*Welcome zone*/

.welcome {
  width: 80%;
  margin: auto;
}

.welcome__message {
  text-align: center;

}

.login {
  margin: 50px;
  text-align: center;
}

.cta_button {
  display: block;
  background-color: limeGreen;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  width: 120px;
  margin: 0 auto 10px auto;
  border-width: 0;
  border-style: none;
}

/*repos */

.repos {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.repos input, select {
  height: 40px;
  outline: none;
  cursor: pointer;
}


.repos label {
  cursor: pointer;
}



.timer__time {
  font-size: 50px;
}


/* footer */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /*height: 3rem;*/
  background-color: tomato;
  display: flex;
}

.footer__text {
  font-size: 1.2rem;
  margin: 0.7rem auto;
  text-align: center;
}

.footer a {
  color: #fff;
}

 /*issue*/

.issue {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.issues__container {
  text-align: center;
}

.issues__list {
  padding: 50px;
}

.issues__list ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 30px;
}

.issues__list-item-link {
  width: 80vw;
  display: inline-block;
  color: tomato;
  font-size: 1.5rem;
}

.issues__list-item {
  padding-bottom: 0.4rem;
  border-bottom: solid grey 1.2px;
}

.issue_description ul {
  list-style: none;
}

.issue_description {
  background-color: rgba(50,205,50,0.2);
  padding: 10px 40px;
  text-align: left;
  border-radius: 3px;
}
